<nav class="header">
  <div class="content">
    <div class="content-left">
      <div class="logotypes">
        <span><%= svg'logos/aircall-logo' %></span>
        <%= svg'logos/aircall-logotype' %>
      </div>
      <ul class="list">
        <li><%= t('menu1') %></li>
        <li><%= t('menu2') %></li>
        <li><%= t('menu3') %></li>
        <li><%= t('menu4') %></li>
        <li><%= t('menu5') %></li>
        <li><%= t('menu6') %></li>
      </ul>
    </div>
    <div class="content-right">
      <div class="languages">
        <% link_to '/' do %>
          <%= svg'icons/us' %>
        <% end %>
        <% link_to '/fr' do %>
          <%= svg'icons/fr' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
