<!-- Content top -->
<section class="content-top">
  <!-- Breadcrum -->
  <div class="breadcrum">
    <div class="tree">
        <p>Aircall</p>
        <span class="arrow"></span>
        <p>Solutions</p>
        <span class="arrow"></span>
        <p class="current">eCommerce</p>
      </div>
      <div class="help">
        <p>Need help ?</p>
      </div>
  </div>
  <!-- Headline -->
  <div class="headline">
    <h1><%= t('title') %></h1>
    <h2><%= t('subtitle') %></h2>
    <div class="img">
      <%= svg'illustrations/ecommerce_illu' %>
    </div>
  </div>
  <!-- CTA -->
  <div class="cta">
    <a class="button" href="#"><%= t('cta') %></a>
    <div class="infos">
      <span><%= t('info1') %></span>
      <b><span>|</span></b>
      <span><%= t('info2') %></span>
      <b><span>|</span></b>
      <span><%= t('info3') %></span>
    </div>
  </div>
  <!-- Logos -->
  <div class="logos">
    <ul class="logos-list">
      <li><%= svg'companies/seatgeek' %></li>
      <li><%= svg'companies/marine_layer' %></li>
      <li><%= svg'companies/adoreme' %></li>
      <li><%= svg'companies/birchbox' %></li>
      <li><%= svg'companies/capsule' %></li>
    </ul>
  </div>
</section>

<!-- Content center -->
<section class="content-center">
  <div class="wrap">
    <div class="text">
      <h3><%= t('wrap1_title') %></h3>
      <p><%= t('wrap1_text') %></p>
    </div>
    <div class="img">
      <%= image_tag'illustrations/without-constraints.png', alt: "Without constraints", width: 800 %>
    </div>
  </div>
  <div class="wrap reverse">
    <div class="img">
      <%= image_tag'illustrations/integrations.png', alt: "Integrate easily", width: 650 %>
    </div>
    <div class="text">
      <h3><%= t('wrap2_title') %></h3>
      <p><%= t('wrap2_text') %></p>
    </div>
  </div>
  <div class="wrap">
    <div class="text">
      <h3><%= t('wrap3_title') %></h3>
      <p><%= t('wrap3_text') %></p>
    </div>
    <div class="img">
      <%= image_tag'illustrations/track-everything.png', alt: "Track everything", width: 800 %>
    </div>
  </div>
</section>

<!-- Content bottom -->
<section class="content-bottom">
  <div class="testimonies">
    <h2><%= t('testimonies_title') %></h2>
    <div class="card">
      <div class="card-video">
        <%= video 'seatgeek' %>
      </div>
      <div class="card-quote">
        <%= svg'icons/quote' %>
        <h6><%= t('quote_seatgeek') %></h6>
        <p><%= t('speaker_seatgeek') %></p>
      </div>
      <div class="card-logo">
        <%= svg'companies/seatgeek' %>
      </div>
    </div>
    <div class="card">
      <div class="card-video">
        <%= video 'adoreme' %>
      </div>
      <div class="card-quote">
        <%= svg'icons/quote' %>
        <h6><%= t('quote_adoreme') %></h6>
        <p><%= t('quote_adoreme') %></p>
      </div>
      <div class="card-logo">
        <%= svg'companies/adoreme' %>
      </div>
    </div>
  </div>
  <!-- CTA -->
  <div class="cta">
    <a class="button" href="#"><%= t('cta') %></a>
    <div class="infos">
      <span><%= t('info1') %></span>
      <b><span>|</span></b>
      <span><%= t('info2') %></span>
      <b><span>|</span></b>
      <span><%= t('info3') %></span>
    </div>
  </div>
</section>
